<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Vulnerable Bank</title>
        <link rel="stylesheet" href="https://unpkg.com/mvp.css">
        <meta http-equiv="Content-Security-Policy" content="frame-ancestors 'none';">
    </head>
    <body>
        <article>
